
body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    color: $text-color;
    min-height: 100vh;
}




.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64em;
    margin: 0 auto;

}

.design-div {

    border-bottom: 1px solid #333;


    .design-paragraph {
        color: $text-color;
        font-size: 1.4em;
        line-height: 1.4em;
        margin: 1.82rem auto;
        width: 80%;
        padding: 10px;
    }
}

.header {
    background-color: $header-background-color;
}

.footer {
    
    background-color: $footer;
    bottom: 0;
    color: white;
    left: 0;
    position: sticky;
    text-align: center;
    width: 100%;
    top: auto;
    margin-top: auto;
    padding-top: 20px;
}

.social {
    font-size: 2em;
    padding-bottom: 20px;

}

.social a {
    text-decoration: none;
}

img.omni {
   width: 500px;
   height: 500px;
    
}

 
.analysis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 64em;
    margin: 0 auto;
    
}
img.reddit {
    width: 800px;
    height: 500px;
     
 }

 img.youtube {
    width: 1200px;
    height: 500px;
     
 }



 a {
    text-decoration: none;
    color: $text-color;
 }

li a:hover {
    border-bottom: 5px solid;
    border-block-end-color: $border-bottom;
}


.nav ul {
    
    font-size: 1.4rem;
    justify-content: center;
}

.nav a {
    color: $text-color;
    font-family: $main-font;
}

img, embed, object, video {
    max-width: 100%;
}




.omni-analysis {
    height: 400px;
    width: 400px;
}
.reddit-analysis {
    height: 150px;
    width: 250px;
}
.youtube-analysis {
    height: 150px;
    width: 300px;
}



.sheet-container {
    height: 200px;
    width: 100%;
}



