@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&family=Roboto&display=swap');

$background-color: #333;
$text-color: #fff;
$header-background-color: #711C91;
$border-bottom: #EA00D9;
$footer: #0ABDC6;
$blue: #133E7C;
$darkblue: #091833;

$header-font: 'Roboto', sans-serif;
$main-font: 'Roboto', sans-serif;
