@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$background-color: #fff;
$text-color: black;
$header-background-color: #daa520;
$footer: rgb(0, 184, 12);
$border-bottom: #ffe100;



$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
